.shop {
	margin-top: 20px;
	width: 500px;
	margin: 0 auto;
}

.shop-title {
	font-size: 30px;
	text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary);
}

@media (max-width: 600px) {
	.shop {
		width: 90%;
	}
}
